/*style.css*/

body {
	background: lightblue;
}
a {
	color:red;
}
p {
	color: blue;
}

li.pets {
	color: darkblue;
}

li.pets:hover {
	background: white;
}

div.pets {
	float: left;
	background: lightpink;
	margin: 0px;
	width: 400px;
}

.name {
	color:red;
	background:white;
	width:400px;
}

.age {
	color:orange;
	background:white;
	width: 400px;
}

.origin {
        color:yellow;
        background:white;
        width: 400px;
}

.trait {
        color:green;
        background:white;
        width: 400px;
}

.hobbies{
        color:blue;
        background:white;
        width: 400px;
}


.fav{
        color:purple;
        background:white;
        width: 400px;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: pink;
	}
}


