/*style.css*/

body {
	background: lightblue;
}

p {
	color: blue;
}

li.pets {
	color: darkblue;
}

li.pets:hover {
	background: white;
}

div.pets {
	float: left;
	background: lightpink;
	margin: 0px;
	width: 400px;
}

div.qs {
	float:left;
	color:darkblue;
	background:white;
	margin:0px;
	width:400px;
}

div.story {
	float:left;
	color:darkblue;
	background:white;
	margin: 400px;
	width: 400px;
}
