/*style.css*/

body {
	background: lightblue;
}

p {
	color: blue;
}

li.pets {
	color: pink;
}

li.pets:hover {
	background: white;
}

div.pets {
	float: left;
	background: lightpink;
	margin: 0px;
}

